header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: 67px;
    padding: 0%;

}

.left {
    display: inline-block;
    
    position: absolute;
    justify-content: space-around;
    left: 34px;
    top: 15px;
    color: white;
}

.left img {
    width: 30px;
    margin: auto;
    display: block;
}

.mid {
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    width: 50%;
    margin: 10px auto;
    border-radius: 15px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    padding: 3px 3px;
    margin: auto;

}

.navbar li {

    display: inline-block;
    font-size: 15px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 23px 23px;

}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    background-color: red;
    width: 50%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 15px;
}

.right {
    
    position: absolute;
    top: 0px;
    right: 24px;
    display: flex;
    border-radius: 20px;
   
}

.btn {
    
    background-color: black;
    color: rgb(255, 255, 255);
    
    font-size: 13px;
   
}

.btn:hover {
    
    color: white;
    
}
.lib {


}

.contains {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: black;
text-align: center;
font-size: 20mm;
}
.contains {
font-family: 'Akaya Kanadaka', cursive;
font-size: 3rem; /* Adjust font size for better visibility */
margin: 10px 0; /* Add spacing between text lines */
}



footer{
background-color: black;
color: white;
padding: 20px 0;
text-align: center;
}